<% provide(:title, "About") %>
<h1>About</h1>
<p>
  <em><strong>Price Express</strong></em> help users to track the price of specific user wanted items. and send email to users whenever the prices of items reached their expected prices.
</p> 
<p>
	Our product has the features below:
	<ul>
		<li> Sign up / Sign in system </li>
		<li> Statistical graphs </li>
		<li> Search engine </li>
		<li> Email Notification system </li>
		<li> Store location map </li>
	</ul>
</p>

