<% provide(:title, "Help") %>
<h1>Help</h1>
<p>
	Hi, this is a user manual page. If you have any questions, please feel free to contact us by clicking the mail button at the bottom line in this page. We are making efforts to improve.
</p>

<h2>Goals</h2>
<p>Price Express help users to track specific user wanted items. This website will keep eyes on these items. Once the prices of these item reached users expectation, the system will send an Email to user to remind users. Moreover, according to the tracked price, we will make a statistical graph to analysis the trend of price.</p>


<h2>Instructions</h2>
<p>
	Buttons on navigation bar:
	<ul>
		<li>For the first one which looks like a house, after you click it, you will be directed into a login page if you are not login, or a page with a list of your tracked items if you login already.</li>
		<li>The second button with a question mark will lead you to the current page, which is a user manual.</li>
		<li>The magnifier button will give you a search bar to search the products in the current server database. If we currently do not have what you want, no worries. Please go to Product page by clicking the fourth button.</li>
		<li>For the fourth button, it contains various products in the current database. And you are very welcome to add items that you like.</li>
		<li>If you are interested in retail store shopping, the second last button will output a list multiple BestBuy, Costco, Superstore and Walmart stores with location and phone numbers.</li>
	</ul>
</p>

<h2>How to use Price Expresser?</h2>
<p>
	<ol>
		<li>Follow instructions to register and log in.</li>
		<li>Go to product page (the fourth button) to search items that you plan to buy.</li>
		<li>If this item exists in the list form, you can directly view it by clicking 'Info'. If you cannot find this item in the list form, Please click 'Add New Product' button and follow instructions to add new products.</li>
		<li>If you want to track that item, please set a price threshold in the item info page. Then, you will receive email notification when the item meets your expected price.</li>
		<li>Also, you can view your tracked items list in your home page. And you are welcome to view price changing graph or change expected price by clicking 'Update'. Deleting unappropriate items by clicking 'Delete' button.</li>
		<li>Don't forget to logout after you finish everything.</li>

	</ol>
</p>
