<h1>List of Others</h1>

<%= render 'search' %>

<table id = "customers">
  <tr class = "alt">
    <th>Prduct Name</th>
    <th>Description</th>
    <th colspan="3">Options</th>
  </tr>
 
  <% @products_others1.each do |product| %>
    <tr>
      <td><%= product.product_name %></td>
      <td><%= product.description %></td>
      <td><%= link_to 'Show', product_path(product) %></td>
    </tr>
  <% end %>
</table>
