<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello, <%= @user.name %> !</h1>
    <p>Your temporary password is:</p>
    <h3><%= @user.tempPw %></h3>
    <p>For your own safety, please reset your password after login.</p>
    <p>Thanks for using Price Expresser! Have a good day!</p>
  </body>
</html>